body
{
	background-color:#EEE2DC;
	margin:0;
	padding:0;
}
ul.header
{
    list-style-type: none;
    padding: 0.5vw;
    overflow: hidden;
    background-color: #123C69;
    top:0;
	width:100%;
	margin-top: 0;
}
a.c1
{
	float:left;
    color: #EEE2DC;
    text-align: center;
    font-size:1.5vw;
    text-decoration: none;
    margin-left:0vw;
    margin-right:0.5vw;
    margin-top:0.5vw;
    clear:none;
}
li a 
{
    display: block;
    color: white;
    text-align: center;
    font-size:1.5vw;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #6F6E6E;
}
img.i1
{
	width:5vw;
	float:left;
	padding-top:0.5vw;
	padding-left:0.5vw;
	padding-bottom: 0.5vw;
	padding-right:0vw;
}
span.intropage
{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 2vw;
}
div.container
{
	margin-top: 5vw;
	margin-left: 7vw;
	color: #123C69;
}
.signin
{
	margin-top: 1vw;
	float: left;
}
.signup
{
	margin-top: 1vw;
	margin-right: 7vw;
	float: right;
}
.button.intropage
{
	height: 3vw;
	width: 7vw;
	background-color:#AC3B61;
	margin:1.5vw 12vw;
	border:1px outset #EEE2DC;
	border-radius:0.5vw;
	font-size:1.3vw;
	font-family:garamond;
	color:#EEE2DC;
	cursor: pointer;
}
label
{
	color:#123C69;
	font-size:1.3vw;
	font-family:bookman;
	outline:1.5vw;
}
input[type=text],[type=password],[type=date],[type=number], [type=email]
{
	width:30vw;
	height:2.3vw;
	border: 2px inset white;
	border-radius:0.4vw;
	text-align:center;
	font-size:1.5vw;
	outline:1.5vw;
	margin:1vw 0vw;
}
a#fpass
{
	color: #123C69;
	margin-left: 11.5vw;
}