body
{
    background-color:#EEE2DC;
    margin:0;
    padding:0;
}
ul.header
{
    list-style-type: none;
    padding: 0.5vw;
    overflow: hidden;
    background-color: #123C69;
    top:0;
    width:100%;
    margin-top:0;
}
a.c1
{
	float:left;
	color: #EEE2DC;
	text-align: center;
	font-size:1.5vw;
	text-decoration: none;
	margin-left:0vw;
	margin-right:0.5vw;
    margin-top:0.5vw;
    clear:none;
}
li a 
{
    display: block;
    color: white;
    text-align: center;
    font-size:1.5vw;
    padding: 17px 16px;
    text-decoration: none;
}

li a:hover 
{
    color: #A4B4C6;
}

img.i1
{
	width:5vw;
	float:left;
	padding-top:0.5vw;
	padding-left:0.5vw;
	padding-bottom: 0.5vw;
	padding-right:0vw;
}
li.c2
{
    float: right;
    color: #EEE2DC;
    text-align: center;
    font-size:1.5vw;
    text-decoration: none;
    margin:0.5vw;
}
li.c2 a
{
    color: #EEE2DC;
}

li.c2 a:hover{
    color: #A4B4C6;
}
h1
{
    color: #123C69;
    text-align: center;
    margin-top: 0;
    font-size:2.5vw;
}
.intro
{
    padding: 1vw;
}
.intro p
{
    font-family: 'Slabo';
    font-size: 1.5vw;
    margin-top: 0;
    text-align: justify;
}
.section p
{
    font-family: 'LobsterTwo';
    color: #123C69;
    text-align: center;
    font-size: 1.8vw;
}
.section .button
{
	height: 3vw;
	width: 15vw;
	background-color:#AC3B61;
	margin:1.0vw 42vw;
	border:1px outset #EEE2DC;
	border-radius:0.5vw;
	font-size:1.3vw;
	font-family:garamond;
	color:#EEE2DC;
	cursor: pointer;
}

.intrude{
    font-family:'Times New Roman';
    font-size:22px;
    text-decoration: underline;
}